body {
    font-family: 'Microsoft YaHei', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1ca59e;
    color: #0970d6;
}

header {
    background: #35424a;
    color: #e7e70f;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #35424a;
}

a {
    color: #1dc8ce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}